.bgimg {
  background-image: url("../public/img/bg.png");
  background-color: #90bc79;
}
.nav-link a:active {
  color: white;
}
.image {
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes anim {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scaleX(1);
  }
}
